# Python
__pycache__/
*.pyc
*.pyo
*.log

# Virtual environments
.venv/
venv/

# PyInstaller
build/
dist/

# User config
config/config.json

# Model assets (optional if too large)
# assets/models/*.task

# OS
.DS_Store
Thumbs.db
